* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: regular_p;
  color: #64113f;
}
@font-face {
  font-family: regular_p;
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: bold_p;
  src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: semibold_p;
  src: url(./fonts/Poppins-SemiBold.ttf);
}
header {
  background-image: url("./img/pexels-oleg-magni-890574.jpg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  font-size: 3rem;
  font-weight: lighter;
  color: whitesmoke;
  /* background-position-y: center; */
  display: flex;
  align-items: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  padding-left: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
main {
  background: black;
  margin-top: 25rem;
  background-image: url("./img/Desktop\ -\ 2.png");
  height: 65rem;
  font-size: 2rem;
  display: flex;
  padding: 3rem;
  border-radius: 3rem 3rem 0 0;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: bold_p;
}
nav {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.button {
  margin: 1.5rem 0;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #64113f;
  padding: 0.7rem 0;
  background-color: transparent;
  border-radius: 0.3rem;
  font-family: semibold_p;
  display:flex;
  justify-content: center;
}
.logo {
  width: 6rem;
}
.button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
  background-color: white;
  transform: scale(1.05);
}
.active {
  background-color: #64113f;
  color: whitesmoke;
}
.active:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
  background-color: #64113f;
  transform: scale(1.05);
}
.hero{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:82%;
}
.h6p{
  padding-bottom: 1.3rem;
}
.para{
  font-size: .9rem;
  width:70%;
  text-align: center;
}
.image{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem; 
  margin-top: 3rem;
}

.pic{
  background-image: url(./img/backgrounds-cheese.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 16rem;
  width: 16rem;
  display:flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 1rem;
  justify-content: space-around;
}

.cuts-1{
  width: 9rem;
  align-self: flex-end;
  transition: 1s ease;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2); */
  
}

.cuts-2{
  height:11rem;
  transition: 1s ease;
  /* transform: translateX(2rem); */
  /* transform: translateX(-2rem) translateY(1rem); */
  align-self: flex-start;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.pic:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
  background-color: white;
  transform: scale(1.05);
}
  
.label{
    text-align: center;
    width: 70%;
    display: inline-block;
    background: #f2d49f70;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    padding: .2rem 1rem;
}
.pic:hover .cuts-1, .pic:hover .cuts-2{
  transform: translateX(3rem) translateY(.5rem); 
}
.pic:hover .label{
  background-color:#64113f ;
}
.h62{
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.footer1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7rem;
  }
  .owner{
    font-size: 1rem;
    padding-top: 2rem;
  }
footer{
  height: 10rem;
  background-color: #f7cacd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}
.main2{
    background-image: url("./img/Desktop\ -\ 2.png");
    margin-top: 2rem;
    padding-left: 3rem;
    display: flex;
}
.center{
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 60%;
}
.child{
  height: 18rem;
  align-self: center;
}
.content{
  display: flex;
  flex-direction: column;
  
  color: #64113f;
  align-items: center;
  margin:2rem;
}
.head{
  font-size: 1.5rem;
  color: black;
  margin-bottom: .5rem;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 22%;
}
.testimonial{
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  color: #64113f;
  font-size: .9rem;
  margin-right: 3rem;
  border-radius: 1rem;
  margin-top: 3rem;
}
.picofday{
  border:1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
  margin-right: 3rem;
  border-radius: 1rem;
  padding: 1rem;
}
.lastimg{
  height: 12rem;
}
.picofday:hover{
  background-color: #f7cacd;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
  transform: scale(1.05);
  
}
.testimonial:hover{
  background-color: #f7cacd;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
  transform: scale(1.05);

}